html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
   background-color: white;
   color: black;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
} */

a {
   color: #2563eb;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.article h1 {
   font-size: 2rem;
   margin-top: 2.5rem;
   margin-bottom: 0.5rem;
}
.article h2 {
   font-size: 1.5rem;
   margin-top: 2rem;
   margin-bottom: 0.25rem;
}
.article h3 {
   font-size: 1.25rem;
   margin-top: 1.5rem;
   margin-bottom: 0.25rem;
}
.article h4 {
   font-size: 1rem;
   margin-top: 1.25rem;
   margin-bottom: 0.25rem;
}
@media (max-width: 600px) {
   .article h1 {
      font-size: 1.5rem;
   }
   .article h2 {
      font-size: 1.25rem;
   }
   .article h3 {
      font-size: 1rem;
   }
   .article h4 {
      font-size: 0.875rem;
   }
}

.article ul,
.article ol {
   margin: 1rem 0.5rem;
   padding-left: 1rem;
}
.article ul li {
   list-style-type: disc;
   line-height: 1.7rem;
}
.article ol li {
   list-style-type: decimal;
   line-height: 1.7rem;
}
